*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.cont {
  flex-direction: column;
  background-color: whitesmoke;
  padding: 0.5rem;
  font-size: xxx-large;
}
